.Appointment {
    background-color: black;
    background: url('../photos/appointment-bg.png') no-repeat center center / cover;
    padding-top: 70px;
    padding-bottom: 140px;
}

.Appointment .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .Appointment {
        padding-top: 130px;
        padding-bottom: initial;
        height: 980px;
    }
}

.Appointment-form {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .Appointment-form {
        width: 585px;
        height: 640px;
        padding-left: 57px;
        padding-right: 57px;
        padding-bottom: initial;
    }
}

.Appointment-form .button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}

@media (min-width: 768px) {
    .Appointment-form .button {
        margin-top: 30px;
        margin-right: initial;
    }
}

.Appointment-form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 21px;
}

.Appointment-form-content input {
    margin-top: 22px;
}

.Appointment-form-content textarea {
    margin-top: 22px;
    width: 100%;
    height: 96px;
    background-color: #f5f5f5;
    border: none;
    resize: none;
    padding-left: 23px;
    padding-top: 17px;
}

@media (min-width: 768px) {
    .Appointment-form-content textarea {
        height: 180px;
    }
}

.Appointment-form-content textarea::placeholder {
    color: #959595;
}

.Appointment-form-title {
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
    text-align: center;
    color: #02133c;
    padding-top: 50px;
}

@media (min-width: 768px) {
    .Appointment-form-title {
        padding-top: 76px;
    }
}

.Appointment-text {
    display: none;
}

@media (min-width: 768px) {
    .Appointment-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 280px;
        width: 324px;
        font-weight: 900;
        margin-left: 111px;
    }
    .Appointment-text-title {
        color: white;
        font-size: 30px;
        text-align: center;
    }
    .Appointment-text-count {
        color: #c40b0b;
        font-size: 96px;
        line-height: 56px;
    }
    .Appointment-text-bottom {
        color: white;
        font-size: 19px;
        line-height: 26px;
    }
}