.button {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background: url('../photos/bg-btn.png') no-repeat center / cover;
    background-position: right;
    font-size: 12px;
    line-height: 24px;
    background-color: #c40b0b;
    height: 40px;
    color: white;
    font-weight: bold;
    padding: 9px 55px 9px 20px;
}