.cont {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.txt {
    text-align: center;
    font-weight: 800;
    font-size: 50px;
}

.cont-list {
    margin: 10px;
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}